body{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: peru;

}

h1{
    margin: 0;
    padding: 0;
    line-height: 10vh;
    background-color: black;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

form{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-gap: 20px;
    margin: 20px;
}

.box{
    background-color:burlywood;
    /* max-width: 270px; */
}

.color{
    height: 15px;
    width: 50px;
    margin-left: 20px;
    display: inline-block;
}


.thebike{
    /* position: fixed;
    bottom: 10px;
    left: 30px; */
    color: red;
    font-size: 100px;
}
/* 
i{
    font-size: 100px;
} */
/* 
.fal{
    color: green;
} */